extends layout

block content
  h1= title
  p Hi #{user}!!
  p Welcome to #{title} :)

    p Here is the content of your fridge:

    ul
      li  #[strong Food Items:] #{data}
      li  #[strong Expiring Items:] #{data}
      li  #[strong Expired Items:] #{data}