extends layout

block content
  h1= title
  p Hi #{user}!!
  p Welcome to #{title} :)

    p Here is the content of your fridge:

    table(style='width:100%', border='1')
      tr
        th <center>Item Name</center>
        th <center>Category</center>
        th <center>Quantity</center>
        th <center>Location</center>
        th <center>Expiration</center>
        th 
            button(onclick="location.href = '/items/add'") Add
      each item in item_list
        tr
            td 
              - var url = item.id;
              a(href='/items/' + url) #{item.name}
            td #{item.category}
            td #{item.quantity} #{item.unit} 
            td #{item.location}
            td #{item.expiration}
            td 
              button#edit edit

      else
        p <b>THERE IS NO FOOD. There is no food. There is no fridge. Everything right is wrong. Apocalypse fast approaches. Every man for himself. May your death be swift and your body untainted.</b>