extends layout

block content
  h1= title
  p Hi #{user}!!
  p Welcome to #{title} :)

    p Here is the content of your fridge:

    table(style='width:100%', border='1')
      tr
        th Item Name
        th Category
        th Quantity
        th Location
        th Expiration
      each item in item_list
        tr
          td #{item.item_name}
          td #{item.category}
          td #{item.quantity} #{item.unit} 
          td #{item.location}
          td #{item.expiration}   

      else
        li There is no food. 
